@use "/home/dmitry/.config/eww/colors/catppuccin-mocha.scss" as colors;

* {
    all: unset;
    font-family: "JetBrains Mono";
}

.wallpaper-picker {
    background: rgba(colors.$base, 0.8);
    border-radius: 12px;
    padding: 20px;
    border: 1px solid colors.$lavender;

    .title {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 15px;
        color: colors.$text;
    }

    .wallpaper-grid {
        margin-bottom: 20px;

        .wallpaper-thumb {
            border-radius: 8px;

            &:hover {
                border: 2px solid #7aa2f7;
            }
        }
    }

    .apply-button {
        background: colors.$lavender;
        color: colors.$crust;
        border: none;
        padding: 8px 16px;
        border-radius: 6px;
        font-weight: bold;

        &:hover {
            background: colors.$mauve;
        }
    }

}
